@keyframes endgame-flashing{
  0% {color:red;}
  100% {color:yellow;}
}
@keyframes endgame-rising{
  0% {top:90vh}
  100% {top:-20vh}
}
@keyframes disappear{
  0% {opacity:1}
  100% {opacity:0}
}

body{
  margin:0;
  padding:0;
  --board-side:12;
  position:relative;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  .board{
    width:calc(90vw + 4px);
    position:absolute;
    display:grid;
    grid-template-columns: repeat(var(--board-side), calc( 90vw / var(--board-side)) );
    grid-template-rows: repeat(var(--board-side), calc( 90vw / var(--board-side)) );

    box-sizing: border-box;
    border:2px solid gray;

    background-size: cover;
    background-position: center;


    &.flag{
      border-color:red;
    }

    .cell{
      box-sizing: border-box;
      width:100%;
      height:100%;
      background-color: slategray;
      border-width: 1px;
      border-style: outset;
      border-color: lightsteelblue darkslategray darkslategray lightsteelblue;
      border-radius:1px;
      user-select: none;

      display:flex;
      align-items: center;
      justify-content: center;

      &.uncovered{
        color:darkslategray;
        background-color: #778899ee;
        
        border-width: 1px;
        border-style: inset;
        border-color: lightslategray darkslategray darkslategray lightslategray;
        border-radius:1px;
        
      }

      &.flagged{
        color:rgb(255, 59, 59);
      }

      &.disappearing{
        animation: disappear 1.5s;
      }
    }
  }

  .endgame{
    position:absolute;
    width:100%;
    text-align:center;
    top:120vh;
    font-size: x-large;
    text-transform: uppercase;
    font-variant: small-caps;


    &.rise{
      animation-name:endgame-flashing, endgame-rising;
      animation-duration: 1s, 8s;
      animation-iteration-count: infinite, 1;
      animation-direction: alternate-reverse, normal;
    }
  }

  .capture{
    width:calc(90vw + 4px);
    position:absolute;
    display:none;
    flex-direction: column;
    align-items: center;
    gap:.5rem;

    .image-container{
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-bottom:1rem;
      canvas{
        width:95%;

      .rect{
        position: absolute;
        top:0;
        width:100%;
        aspect-ratio: 1;
        border:2px solid red;
      }
      }
    }

    input[type="file"]{
      display:none;
      width:0;
      height:0;
    }

    button{
      font-size:2rem;
      font-variant: small-caps;
      font-weight: bold;

      height:3rem;
      border:1px solid white;
      background-color: transparent;
      border-radius: .5rem;
      outline:none;
      box-shadow: 0 2px 3px white;
      color:white;
      &:disabled{
        opacity:.5;
      }

      &.load{
        margin-bottom: 1rem;
      }
    }
  }

  &.capturing{
    .board{
      display:none;
    }
    .capture{
      display:flex;
    }
  }
}
