@keyframes endgame-flashing{
  0% {color:red;}
  100% {color:yellow;}
}
@keyframes endgame-rising{
  0% {top:90vh}
  100% {top:-20vh}
}
@keyframes disappear{
  0% {opacity:1}
  100% {opacity:0}
}
@keyframes explode{
  0% {opacity:1; transform: scale(1,1);}
  100% {opacity:0; transform: scale(2,2); background-color: white;}
}

body{
  margin:0;
  padding:0;
}

#main-outlet{
  position:relative;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;

  .button{
    width:4rem;
    height:min(90vw,90vh);
    border-radius: .25rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 3.5rem;
    transition:opacity .25s;
    color:black;
    opacity:.1;

    &.active{
      opacity:.5;
    }
  }
  .board{
    --base-color:#ec116c;
    background-size: cover;
    background-position: center;
  }

  &.menu{
    .tile{
      width:4rem;
      height:4rem;
      background-color: white;
      border-radius:.25rem;
      opacity:.25;
      color:black;
      font-size:3.5rem;
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.sweeper{
    .background{
      --side: min(90vw,90vh);
      width:var(--side);
      height:var(--side);
      position:absolute;
      z-index: 0;
      filter: blur(4px) opacity(.125);
      transition:filter 1s;
      &.revealed{
        filter: none;
      }
    };
    .board{
      z-index:1;
      --cell-per-side:12;
      --side: min(90vw,90vh);
      width:var(--side);
      height:var(--side);
      position:relative;
      display:grid;
      grid-template-columns: repeat(var(--cell-per-side), calc( var(--side) / var(--cell-per-side)) );
      grid-template-rows: repeat(var(--cell-per-side), calc( var(--side) / var(--cell-per-side)) );

      background-size: cover;
      background-position: center;

      .cell{
        position: relative;
        box-sizing: border-box;
        width:100%;
        height:100%;
        user-select: none;

        display:flex;
        align-items: center;
        justify-content: center;

        color:color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b));
        
        &.explode{
          animation: explode .5s;
        }
        &.removed{
          opacity: 0;
        }

        .lid{
          box-sizing: border-box;
          position:absolute;
          box-sizing: border-box;
          width:calc(100% - 2px);
          height:calc(100% - 2px);
          pointer-events: none;

          border:1px solid transparent;
          border-radius:2px;

          transition:color 2s linear, background-color 2s linear, top .05s ease-in-out, left .05s ease-in-out;
          
          display:flex;
          align-items: center;
          justify-content: center;

          &.explode{
            animation: explode .5s;
          }
        }
        .content{
          pointer-events: none;
          transition:color 2s linear;
          text-shadow: color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b)) 1px 0px 6px;
        }

        /* &.flagged{
          color:color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b));
        } */

        &.disappearing{
          animation: disappear 1.5s;
        }
      }
    }
  }

  &.picross{
    .board{
      --base-color:#ec116c;
      --cell-per-side:12;
      --side: min(90vw,90vh);
      width:var(--side);
      height:var(--side);
      position:relative;
      display:grid;
      grid-template-columns: repeat(var(--cell-per-side), calc( var(--side) / var(--cell-per-side)) );
      grid-template-rows: repeat(var(--cell-per-side), calc( var(--side) / var(--cell-per-side)) );

      background-size: cover;
      background-position: center;

      .cell{
        position: relative;
        box-sizing: border-box;
        width:100%;
        height:100%;
        user-select: none;

        display:flex;
        align-items: center;
        justify-content: center;

        color:color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b));

        .lid{
          box-sizing: border-box;
          position:absolute;
          box-sizing: border-box;
          width:calc(100% - 2px);
          height:calc(100% - 2px);
          pointer-events: none;

          border:1px solid transparent;
          border-radius:2px;

          transition:color 2s linear, background-color 2s linear, top .05s ease-in-out, left .05s ease-in-out;
          
          display:flex;
          align-items: center;
          justify-content: center;

          &.explode{
            animation: explode .5s;
          }
        }
        .content{
          pointer-events: none;
          transition:color 2s linear;
          text-shadow: color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b)) 1px 0px 6px;
        }

        /* &.flagged{
          color:color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b));
        } */

        &.disappearing{
          animation: disappear 1.5s;
        }
      }
    }
  }

  &.minihjong{
    justify-content: center;
    .board{
      --cell-per-side:10;
      --side: min(90vw,90vh);
      --cell-side:calc( var(--side) / var(--cell-per-side) );
      width:var(--side);
      height:var(--side);
      position:absolute;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .row{
        display:flex;
        justify-content: center;
        align-items: center;
        height:var(--cell-side);

        .cell{
          position: relative;
          box-sizing: border-box;
          width:var(--cell-side);
          height:var(--cell-side);
          user-select: none;
  
          display:flex;
          align-items: center;
          justify-content: center;
  
          color:color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b));
  
          .lid{
            background-color: #ec116c;
            box-sizing: border-box;
            position:absolute;
            box-sizing: border-box;
            width:calc(100% - 2px);
            height:calc(100% - 2px);
            pointer-events: none;
  
            border:1px solid transparent;
            border-radius:2px;
  
            transition:color 2s linear, background-color 2s linear, top .05s ease-in-out, left .05s ease-in-out;
            
            display:flex;
            align-items: center;
            justify-content: center;
            font-size: var(--cell-side);
  
            &.explode{
              animation: explode .5s;
            }
          }
          .content{
            pointer-events: none;
            transition:color 2s linear;
            text-shadow: color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b)) 1px 0px 6px;
          }
  
          /* &.flagged{
            color:color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b));
          } */
  
          &.disappearing{
            animation: disappear 1.5s;
          }
        }
      }
      
    }
  }

  &.sliding{
    .board{
      --base-color:#ec116c;
      --cell-per-side:12;
      --side: min(90vw,90vh);
      width:var(--side);
      height:var(--side);
      position:relative;
      display:grid;
      grid-template-columns: repeat(var(--cell-per-side), calc( var(--side) / var(--cell-per-side)) );
      grid-template-rows: repeat(var(--cell-per-side), calc( var(--side) / var(--cell-per-side)) );

      background-size: cover;
      background-position: center;

      .cell{
        position: relative;
        box-sizing: border-box;
        width:100%;
        height:100%;
        user-select: none;

        display:flex;
        align-items: center;
        justify-content: center;

        color:color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b));

        .lid{
          box-sizing: border-box;
          position:absolute;
          top:0;
          left:0;
          box-sizing: border-box;
          width:calc(100% - 2px);
          height:calc(100% - 2px);
          pointer-events: none;

          border:1px solid transparent;
          border-radius:2px;

          transition:color 2s linear, background-color 2s linear, top .25s ease-in-out, left .25s ease-in-out;
          
          display:flex;
          align-items: center;
          justify-content: center;

          &.explode{
            animation: explode .5s;
          }
        }
        .content{
          pointer-events: none;
          transition:color 2s linear;
          text-shadow: color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b)) 1px 0px 6px;
        }

        /* &.flagged{
          color:color(from var(--base-color) srgb calc(1 - r) calc(1 - g) calc(1 - b));
        } */

        &.disappearing{
          animation: disappear 1.5s;
        }
      }
    }
  }
}
@media (orientation: portrait){
  #main-outlet{
    flex-direction: column;
    
    .button{
      width:min(90vw,90vh);
      height:4rem;
    }
  }
}